RewriteEngine on

# 1. Redirect EVERYTHING to the public folder
RewriteRule ^$ public/ [L]
RewriteRule ^((?!public/).*)$ public/$1 [L]


# 2. Map the request back to the .php file internally
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]