@media (max-width: 991px) {
    .section-padding { padding: 60px 0; }
    .display-1 { font-size: 3.5rem; }
    .glass-panel { padding: 25px; margin-bottom: 20px; }
    
}


@media (max-width: 576px) {
    .display-1 { font-size: 2.5rem; }
    .nav-buttons { display: flex; flex-direction: column; gap: 10px; }
    .navbar .btn {padding: 8px 18px;font-size: 14px;}
    .section-padding .glass-panel img {height: 80px !important;}
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .portal-sidebar {
        display: none; /* Hide sidebar on mobile or use a toggle */
    }
}